/* Customizations to the designer theme should be defined here */

html {
  font-size: 12px;
}

@layer primevue {
  .p-button {
    &:not(:disabled):focus {
      box-shadow: 0 0 0 $buttonFocusSize var(--primary-100);
    }
  }

  // Probably a bug - but had to do
  .p-splitbutton-menubutton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
